:local(.wrapper) {
  background-color: #ebebeb;
  padding: 12px 8px;
}

:local(.addFriendInput) {
  border-radius: 0;
  border-color: #5C75B0;
  margin: 4px;
}

:local(.radioGroup) {
  display: flex;
  justify-content: space-evenly;
  background-color: #ebebeb
}

:local(.btnAction), :local(.btnAction):active, :local(.btnAction):focus, :local(.btnAction):hover {
  margin: 4px;
  border-color: #5C75B0;
  color: #5C75B0;
}

:local(.fieldWrapper) {
  display: flex;
}

:local(.error) {
  color: red;
  font-size: 12px;
  margin-left: 4px;
}
